.recent-search {
}
.recent-search p {
}
.recent-search img {
}
.search-route {
}
.route-box {
}
.search-route .search-route img {
}
.route button {
}
.route button:hover {
}
.route button:active {
}
.route-box:nth-child(3) {
}
.button-typetrip {
}
input[type='radio'] {
  display: none;
}

input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  margin-right: 3px;
  background-clip: content-box;
  border: 2px solid var(--text-blue);
  background-color: none;
  border-radius: 50%;
}

input[type='radio']:checked + label:before {
  background-color: var(--text-blue);
}
/* label {
  display: flex;
  align-items: center;
  background-color: blue;
} */
.btn-main {
  border: 0;
  border-radius: 5px;
  padding: 15px 40px;
  font-weight: 600;
}
.depature .depature-select {
  margin-top: -10px;
}
.person-select {
  display: flex;
  margin-top: -8px;
  gap: 25px;
}
.class-select p {
  margin-bottom: 2px;
}
.close-search {
  display: none !important;
}
.btn-submit {
  width: 100%;
  padding: 15px;
  background-color: #2395ff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
  border-radius: 8px;
}
@media screen and (max-width: 992px) {
  .close-search {
    display: unset !important;
  }
}
