.action .profile img {
  width: 45px;
  height: 45px;
  margin-top: -10px;
  border: 2px solid #2395ff;
  border-radius: 25px;
  overflow: hidden;
  /* padding: 3px; */
}
.action .profile:hover {
  cursor: pointer;
}
.action .menu {
  position: absolute;
  top: 100px;
  right: 40px;
  /* padding: 10px 0px; */
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: var(--shadow-black-100);
  visibility: hidden;
  opacity: 0;
}
.action .menu.active {
  visibility: visible;
  opacity: 1;
}
.action .menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 90px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;
}

/* .action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
} */
.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.action .menu ul li:hover {
  cursor: pointer;
}
.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover img {
  opacity: 1;
}
.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.action .menu ul li:hover a {
  color: var(--text-blue);
}
