.navbar-all {
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 20px;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #504f4f !important;
  margin-left: 15px;
}

.search-form {
  width: 250px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;
  padding-left: 20px;
}

.btn-route {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn-route:hover::after {
  content: '';
  width: 40px;
  height: 5px;
  background-color: #2395ff;
  position: absolute;
  display: block;
  margin: auto;
  border-radius: 10px;
  transition: all 0.4s ease;
  top: 50px;
}

.btn-signin {
  background: #2395ff;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
}

.form {
  display: flex;
}

.form button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: -40px;
}

.navbar-profile {
  display: flex;
  width: 130px;
  height: 27px;
  justify-content: space-between;
}

.user-profile img {
  width: 45px;
  height: 45px;
  margin-top: -10px;
  border: 2px solid #2395ff;
  border-radius: 25px;
  overflow: hidden;
  padding: 3px;
}

@media screen and (max-width: 992px) {
  .btn-route {
    display: block;
  }

  .btn-route:hover::after {
    position: unset;
    width: 100%;
    margin-top: -5px;
  }

  .main-navbar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .nav-responsive {
    padding-left: 15px;
  }

  .nav-responsive .btn-signin {
    margin-top: 12px;
  }
  
  .nav-responsive form {
    margin-top: 15px;
  }

  .button-on::after {
    width: 0 !important;
    background-color: transparent !important;
  }
  
  .navbar-profile {
    margin-top: 15px;
  }
}
/** event */
.button-on::after {
  content: '';
  width: 40px;
  height: 5px;
  background-color: #2395ff;
  position: absolute;
  display: block;
  margin: auto;
  border-radius: 10px;
  transition: all 0.4s ease;
  top: 50px;
  margin-left: 22px;
}
