footer {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  position: relative;
  bottom: 0;
  top: 5vh;
  width: 100%;
  background-color: #fff;
}

footer h5 {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.logo {
  width: 30px;
}

.feature p {
  display: block;
}

.img-download {
  width: 110px;
  display: block;
  margin-bottom: 10px;
}

.info img {
  margin: 0 15px 10px 0;
}

@media (max-width: 768px) {
  .img-download {
    display: inline;
    margin-right: 10px;
  }
}
@media (max-width: 576px) {
  .feature p {
    display: inline;
    margin-right: 15px;
  }
}
