@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');
@import '@fortawesome/fontawesome-free/css/all.min.css';

body::-webkit-scrollbar {
  width: 6px;
  background: #fafcff;
}
body::-webkit-scrollbar-thumb {
  background: #2395ff;
  border-radius: 2px;
}

/* body {
  margin: 0;
  font-family: 'poppins', 'sans-serif';
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
